In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib inline

Reading the dataset from the ab_testing.csv file

In [2]:
df1 = pd.read_csv('ab_testing.csv')

## Goal 1: Determine if the new website version leads to more conversions than the old version

### Objective 1.1: Determine the difference in conversions between the treatment and control groups

#### Deliverable 1.1.1 The probability that a user converts regardless of the page they receive

Printing the top few rows

In [11]:
df1.head()

   User ID Group  Page Views  Time Spent Conversion   Device          Location
0    14292     B           3         424         No   Mobile  Northern Ireland
1    11682     A           9         342         No   Mobile          Scotland
2    19825     A           2         396         No  Desktop  Northern Ireland
3    16080     B           4         318         No  Desktop             Wales
4    18851     A           1         338        Yes  Desktop          Scotland

Renaming columns for easier manipulation

In [14]:
new_cols = ['userid','group','page_views','timespent','converted','device','location']
df1.columns = new_cols

In [15]:
df1.head()

   userid group  page_views  timespent converted   device          location
0   14292     B           3        424        No   Mobile  Northern Ireland
1   11682     A           9        342        No   Mobile          Scotland
2   19825     A           2        396        No  Desktop  Northern Ireland
3   16080     B           4        318        No  Desktop             Wales
4   18851     A           1        338       Yes  Desktop          Scotland

Changing converted to boolean format so it can be analyzed easily

In [16]:
df1.converted = df1.converted.replace({'No':0,'Yes':1})

/var/folders/_l/vgkb2xzx3_l4r29mfzvw6qth0000gn/T/ipykernel_62282/2419052932.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1.converted = df1.converted.replace({'No':0,'Yes':1})

In [18]:
df1.converted.nunique()

2

Finding the number of rows in the dataset

In [4]:
df1.shape

(5000, 7)

Finding the number of unique users in the dataset

In [19]:
df1['userid'].nunique()

5000

Proportion of users converted

In [20]:
df1['converted'].mean()

0.097